<table class="table table-borderless table-striped table-earning table-sm table-sm-font table-fixed table-week"
  id="tabela_resumo_semana">
  <thead>
    <tr>
      <th>
        <div>
          Domingo <br>
          30/11/2025 </div>
      </th>
      <th>
        <div>
          Segunda <br>
          01/12/2025 </div>
      </th>
      <th>
        <div>
          Terça <br>
          02/12/2025 </div>
      </th>
      <th>
        <div>
          Quarta <br>
          03/12/2025 </div>
      </th>
      <th>
        <div>
          Quinta <br>
          04/12/2025 </div>
      </th>
      <th>
        <div>
          Sexta <br>
          05/12/2025 </div>
      </th>
      <th>
        <div>
          Sábado <br>
          06/12/2025 </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445059"
        style="position: relative;">
        <div><b>Língua Portuguesa - Tcu Auditor</b> <br> Domínio da Ortografia Oficial
          <br><small>Estudo</small><br><span class="badge badge-light">120 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445061"
        style="position: relative;">
        <div><b>Direito Administrativo - Tcu Auditor</b> <br> Regime Jurídico-Administrativo
          <br><small>Estudo</small><br><span class="badge badge-light">120 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445063"
        style="position: relative;">
        <div><b>Contabilidade Geral - Tcu Auditor</b> <br> Princípios Contábeis Fundamentais
          <br><small>Estudo</small><br><span class="badge badge-light">60 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-2 ui-draggable-handle" data-id="6210445064"
        style="position: relative;">
        <div><b>Contabilidade Geral - Tcu Auditor</b> <br> Princípios Contábeis Fundamentais <br><small>Resumo/Mapa
            Mental</small><br><span class="badge badge-light">30 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-3 ui-draggable-handle" data-id="6210445065"
        style="position: relative;">
        <div><b>Contabilidade Geral - Tcu Auditor</b> <br> Princípios Contábeis Fundamentais
          <br><small>Revisão</small><br><span class="badge badge-light">30 mins</span></div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445060"
        style="position: relative;">
        <div><b>Administração Financeira e Orçamentária - Tcu Auditor</b> <br> Funções do Governo. Orçamento público:
          conceitos e princípios. Orçamento público no Brasil: Títulos I, IV, V e VI da Lei nº 4.320/1964.
          <br><small>Estudo</small><br><span class="badge badge-light">90 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445062"
        style="position: relative;">
        <div><b>Auditoria Governamental - Tcu Auditor</b> <br> Conceito, evolução. Auditoria interna e externa: papéis.
          Auditoria governamental segundo a INTOSAI (International Organization of Supreme Audit Institutions).
          Auditoria interna segundo o IIA (Institute of Internal Auditors). <br><small>Estudo</small><br><span
            class="badge badge-light">60 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445071"
        style="position: relative;">
        <div><b>Contabilidade Geral - Tcu Auditor</b> <br> Conceitos, Objetivos e Finalidades da Contabilidade
          <br><small>Estudo</small><br><span class="badge badge-light">60 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-2 ui-draggable-handle" data-id="6210445072"
        style="position: relative;">
        <div><b>Contabilidade Geral - Tcu Auditor</b> <br> Conceitos, Objetivos e Finalidades da Contabilidade
          <br><small>Resumo/Mapa Mental</small><br><span class="badge badge-light">30 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-3 ui-draggable-handle" data-id="6210445073"
        style="position: relative;">
        <div><b>Contabilidade Geral - Tcu Auditor</b> <br> Conceitos, Objetivos e Finalidades da Contabilidade
          <br><small>Revisão</small><br><span class="badge badge-light">30 mins</span></div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445079"
        style="position: relative;">
        <div><b>Economia - Tcu Auditor</b> <br> O sistema de contas nacionais e as identidades macroeconômicas básicas
          <br><small>Estudo</small><br><span class="badge badge-light">60 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445080"
        style="position: relative;">
        <div><b>Direito Constitucional - Tcu Auditor</b> <br> Direito Constitucional: Conceitos Iniciais
          <br><small>Estudo</small><br><span class="badge badge-light">120 mins</span></div>
      </td>
      <td class="calendar-aluno-has-activity etapa-1 ui-draggable-handle" data-id="6210445081"
        style="position: relative;">
        <div><b>Contabilidade Pública - Tcu Auditor</b> <br> Contabilidade pública: campo de aplicação, objeto e
          objetivos. Título IX da Lei nº 4.320/1964. <br><small>Estudo</small><br><span class="badge badge-light">120
            mins</span></div>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>