<div class="custom-card mt-3" data-intro="Confira alguns dos recursos do seu painel">
  <div class="custom-card-title">
    <h3>Atalhos rápidos:</h3>
  </div>
  <div class="row">
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile" data-intro="Suas metas diárias, ou seja, atividades a cumprir, aparecem nessa página">
        <a href="metas" class="dashboard-tile-link">
          <img src="https://img.icons8.com/cute-clipart/64/000000/goal.png">
          <p>Metas Diárias</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile" data-intro="Aqui, você acompanha seu plano de estudos por semanas">
        <a href="semana?periodo=1" class="dashboard-tile-link">
          <img src="https://img.icons8.com/cute-clipart/64/000000/calendar.png">
          <p>Resumo da Semana</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile" data-intro="O seu desempenho de questões está aqui">
        <a href="dashboards/?id=4" class="dashboard-tile-link">
          <img src="https://img.icons8.com/dusk/64/000000/exam.png">
          <p>Análise de Questões</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile" data-intro="Veja o seu desempenho de estudos">
        <a href="#!" class="dashboard-tile-link show-dashboard-reports">
          <img src="https://img.icons8.com/clouds/64/000000/statistics.png">
          <p>Meu Desempenho</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile" data-intro="Edite as configurações do seu plano de estudos">
        <a href="#!" class="dashboard-tile-link show-dashboard-config">
          <img src="https://img.icons8.com/clouds/64/000000/work.png">
          <p>Configurações</p>
        </a>
      </div>
    </div>
  </div>
  <!-- Reports -->
  <div class="row dashboard-reports reports-report">
    <div class="col col-12">
      <hr>
      <h5>Relatórios:</h5>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="/painel/desempenho" class="dashboard-tile-link">
          <img src="https://img.icons8.com/cute-clipart/64/000000/doughnut-chart.png">
          <p>Seu Progresso</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="dashboards/?id=1" class="dashboard-tile-link">
          <img src="https://img.icons8.com/clouds/64/000000/combo-chart.png">
          <p>Perfil dos Estudos</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="dashboards/?id=2" class="dashboard-tile-link">
          <img src="https://img.icons8.com/cute-clipart/64/000000/empty-hourglass.png">
          <p>Tempos de Estudo</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="dashboards/?id=5" class="dashboard-tile-link">
          <img src="https://img.icons8.com/cute-clipart/64/000000/timer.png">
          <p>Horas Líquidas (cronômetro)</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="dashboards/?id=3" class="dashboard-tile-link">
          <img src="https://img.icons8.com/clouds/64/000000/trophy--v2.png">
          <p>Sua Performance</p>
        </a>
      </div>
    </div>
  </div>
  <!-- Reports -->
  <!-- Groups -->
  <!-- Groups -->
  <!-- Config -->
  <div class="row dashboard-reports reports-config">
    <div class="col col-12">
      <hr>
      <h5>Configurações:</h5>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="config/disciplinas" class="dashboard-tile-link">
          <img src="https://img.icons8.com/cute-clipart/64/000000/settings.png">
          <p>Editar Plano</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="config/horarios" class="dashboard-tile-link">
          <img src="https://img.icons8.com/cute-clipart/64/000000/time-span.png">
          <p>Editar Horários</p>
        </a>
      </div>
    </div>
    <div class="col col-6 col-sm-6 col-md-4 col-lg-2">
      <div class="dashboard-tile">
        <a href="config/pausar-plano" class="dashboard-tile-link show-dashboard-reports">
          <img src="https://img.icons8.com/clouds/64/000000/pause.png">
          <p>Pausar Plano</p>
        </a>
      </div>
    </div>
  </div>
  <!-- Config -->
</div>