
<div class="caderno-list">
  <div class="caderno-item" data-intro="Confira as disciplinas do seu plano">
    <div class="caderno-link caderno-list-disc" data-disc-id="325298" data-disc-name="Língua Portuguesa - Tcu Auditor"
      href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Língua Portuguesa - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary"
          data-intro="Abra o seu caderno de anotações clicando aqui">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno"
          data-intro="Baixe o seu caderno em Word sempre que precisar">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325299"
      data-disc-name="Administração Financeira e Orçamentária - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Administração Financeira e Orçamentária - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325300"
      data-disc-name="Direito Administrativo - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Direito Administrativo - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325301"
      data-disc-name="Auditoria Governamental - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Auditoria Governamental - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325302" data-disc-name="Contabilidade Geral - Tcu Auditor"
      href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Contabilidade Geral - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325303" data-disc-name="Economia - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Economia - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325304"
      data-disc-name="Direito Constitucional - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Direito Constitucional - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325305"
      data-disc-name="Contabilidade Pública - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Contabilidade Pública - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325306"
      data-disc-name="Administração Pública - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Administração Pública - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325307" data-disc-name="Direito Civil - Tcu Auditor"
      href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Direito Civil - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325308"
      data-disc-name="Análise de Informações - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Análise de Informações - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325309"
      data-disc-name="Contabilidade de Custos - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Contabilidade de Custos - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325310" data-disc-name="Controle Externo - Tcu Auditor"
      href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Controle Externo - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325311"
      data-disc-name="Matemática e Raciocínio Lógico - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Matemática e Raciocínio Lógico - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325312" data-disc-name="Direito Penal - Tcu Auditor"
      href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Direito Penal - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325313"
      data-disc-name="Matemática Financeira - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Matemática Financeira - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325314"
      data-disc-name="Análise das Demonstrações Contábeis - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Análise das Demonstrações Contábeis - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325315"
      data-disc-name="Legislação Penal Especial - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Legislação Penal Especial - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325316"
      data-disc-name="Direito Processual Civil - Tcu Auditor" href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Direito Processual Civil - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="caderno-item">
    <div class="caderno-link caderno-list-disc" data-disc-id="325317" data-disc-name="Estatística - Tcu Auditor"
      href="#!">
      <h4><i class="fas fa-book-open"></i> Caderno de Estatística - Tcu Auditor</h4>
      <p>Esse caderno tem 0 caractere(s)</p>
      <div class="caderno-actions">
        <a href="#!" class="btn-anotacoes-trigger btn btn-sm btn-primary">
          ver caderno <i class="fas fa-book"></i>
        </a>
        <a href="#!" class="btn btn-sm btn-info btn-download-caderno">
          baixar caderno <i class="fas fa-file-word"></i>
        </a>
      </div>
    </div>
  </div>
</div>