<div id="chat_messages">

  <div class="chat-message chat-bot-message" style="">
    <div class="chat-message-icon"><i class="fas fa-comment"></i></div>
    <div class="chat-message-text">Olá, Wellington! Estou aqui para montar seu plano de estudos <b>Plano Auditor de
        Controle Externo do TCU</b>, ok? </div>
  </div>
  <div class="chat-message chat-bot-message" style="">
    <div class="chat-message-icon"><i class="fas fa-comment"></i></div>
    <div class="chat-message-text">Para começar, vou precisar que você me informe a sua disponibilidade de horários. É
      só preencher o formulário abaixo:</div>
  </div>
  <div class="chatbot-horarios-container">
    <h3>Informe sua disponibilidade de horários <i class="fas fa-clock"></i></h3>
    <div class="custom-control custom-checkbox"><input type="checkbox" id="check_1764526535794"
        class="custom-control-input"><label for="check_1764526535794" class="custom-control-label">Dias com horários
        iguais</label></div>
    <div class="chatbot-horarios-grid">
      <div class="horario horario-default"><label for="1764526535794_2">segunda</label><select id="1764526535794_2"
          class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-default"><label for="1764526535794_3">terça</label><select id="1764526535794_3"
          class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-default"><label for="1764526535794_4">quarta</label><select id="1764526535794_4"
          class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-default"><label for="1764526535794_5">quinta</label><select id="1764526535794_5"
          class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-default"><label for="1764526535794_6">sexta</label><select id="1764526535794_6"
          class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-default"><label for="1764526535794_7">sábado</label><select id="1764526535794_7"
          class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-default"><label for="1764526535794_1">domingo</label><select id="1764526535794_1"
          class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-compact"><label for="week_1764526535794">segunda a sexta</label><select
          id="week_1764526535794" class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
      <div class="horario horario-compact"><label for="weekend_1764526535794">fim de semana</label><select
          id="week_1764526535794" class="custom-select custom-select-sm">
          <option value="0">0 hora(s)</option>
          <option value="1">0 hora(s) e 30 minutos</option>
          <option value="2">1 hora(s)</option>
          <option value="3">1 hora(s) e 30 minutos</option>
          <option value="4">2 hora(s)</option>
          <option value="5">2 hora(s) e 30 minutos</option>
          <option value="6">3 hora(s)</option>
          <option value="7">3 hora(s) e 30 minutos</option>
          <option value="8">4 hora(s)</option>
          <option value="9">4 hora(s) e 30 minutos</option>
          <option value="10">5 hora(s)</option>
          <option value="11">5 hora(s) e 30 minutos</option>
          <option value="12">6 hora(s)</option>
          <option value="13">6 hora(s) e 30 minutos</option>
          <option value="14">7 hora(s)</option>
          <option value="15">7 hora(s) e 30 minutos</option>
          <option value="16">8 hora(s)</option>
          <option value="17">8 hora(s) e 30 minutos</option>
          <option value="18">9 hora(s)</option>
          <option value="19">9 hora(s) e 30 minutos</option>
          <option value="20">10 hora(s)</option>
          <option value="21">10 hora(s) e 30 minutos</option>
          <option value="22">11 hora(s)</option>
          <option value="23">11 hora(s) e 30 minutos</option>
          <option value="24">12 hora(s)</option>
        </select></div>
    </div><a class="btn btn-primary btn-sm">Pronto</a>
  </div>
</div>