<div id="dashboard_summary" data-intro="Esse aqui é o panorama da sua semana atual com suas atividades"
  data-position="top">
  <div class="dash-summary-shadow"></div>
  <div class="dash-summary-day day-2025-11-30 day-active">
    <div class="dash-day-name">
      30/11 </div>
  </div>
  <div class="dash-summary-day day-2025-12-01 ">
    <div class="dash-day-name">
      01/12 </div>
    <div class="dash-day-scroller">
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Língua Portuguesa - Tcu Auditor</p>
        <p class="day-activity-subject">Domínio da Ortografia Oficial</p>
      </div>
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Administração Financeira e Orçamentária - Tcu Auditor</p>
        <p class="day-activity-subject">Funções do Governo. Orçamento público: conceitos e princípios. Orçamento público
          no Brasil: Títulos I, IV, V e VI da Lei nº 4.320/1964.</p>
      </div>
    </div>
  </div>
  <div class="dash-summary-day day-2025-12-02 ">
    <div class="dash-day-name">
      02/12 </div>
    <div class="dash-day-scroller">
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Direito Administrativo - Tcu Auditor</p>
        <p class="day-activity-subject">Regime Jurídico-Administrativo</p>
      </div>
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Auditoria Governamental - Tcu Auditor</p>
        <p class="day-activity-subject">Conceito, evolução. Auditoria interna e externa: papéis. Auditoria governamental
          segundo a INTOSAI (International Organization of Supreme Audit Institutions). Auditoria interna segundo o IIA
          (Institute of Internal Auditors).</p>
      </div>
    </div>
  </div>
  <div class="dash-summary-day day-2025-12-03 ">
    <div class="dash-day-name">
      03/12 </div>
    <div class="dash-day-scroller">
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Contabilidade Geral - Tcu Auditor</p>
        <p class="day-activity-subject">Princípios Contábeis Fundamentais</p>
      </div>
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Contabilidade Geral - Tcu Auditor</p>
        <p class="day-activity-subject">Conceitos, Objetivos e Finalidades da Contabilidade</p>
      </div>
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Economia - Tcu Auditor</p>
        <p class="day-activity-subject">O sistema de contas nacionais e as identidades macroeconômicas básicas</p>
      </div>
    </div>
  </div>
  <div class="dash-summary-day day-2025-12-04 ">
    <div class="dash-day-name">
      04/12 </div>
    <div class="dash-day-scroller">
      <div class="day-activity  day-activity-step-2 ">
        <p class="day-activity-disc">Contabilidade Geral - Tcu Auditor</p>
        <p class="day-activity-subject">Princípios Contábeis Fundamentais</p>
      </div>
      <div class="day-activity  day-activity-step-2 ">
        <p class="day-activity-disc">Contabilidade Geral - Tcu Auditor</p>
        <p class="day-activity-subject">Conceitos, Objetivos e Finalidades da Contabilidade</p>
      </div>
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Direito Constitucional - Tcu Auditor</p>
        <p class="day-activity-subject">Direito Constitucional: Conceitos Iniciais</p>
      </div>
    </div>
  </div>
  <div class="dash-summary-day day-2025-12-05 ">
    <div class="dash-day-name">
      05/12 </div>
    <div class="dash-day-scroller">
      <div class="day-activity  day-activity-step-3 ">
        <p class="day-activity-disc">Contabilidade Geral - Tcu Auditor</p>
        <p class="day-activity-subject">Princípios Contábeis Fundamentais</p>
      </div>
      <div class="day-activity  day-activity-step-3 ">
        <p class="day-activity-disc">Contabilidade Geral - Tcu Auditor</p>
        <p class="day-activity-subject">Conceitos, Objetivos e Finalidades da Contabilidade</p>
      </div>
      <div class="day-activity  day-activity-step-1 ">
        <p class="day-activity-disc">Contabilidade Pública - Tcu Auditor</p>
        <p class="day-activity-subject">Contabilidade pública: campo de aplicação, objeto e objetivos. Título IX da Lei
          nº 4.320/1964.</p>
      </div>
    </div>
  </div>
  <div class="dash-summary-day day-2025-12-06 ">
    <div class="dash-day-name">
      06/12 </div>
  </div>

</div>