


<div class="account-dropdown js-dropdown">
  <div class="info clearfix">
    <div class="image">
      <input type="file" id="profilePictureInput" name="profilePicture">
      <img src="//static.tutory.com.br/img/alunos/default.jpg" "="" alt=" Seu Perfil" class="profile-picture-change">
    </div>
    <div class="content">
      <h5 class="name">
        <a href="#!">wellington@devsquad.email</a>
      </h5>
      <span class="email">Clique na foto para alterá-la</span>
    </div>
  </div>
  <div class="account-dropdown__body">
    <div class="account-dropdown__item">
      <a href="#!">
        <i class="fas fa-bookmark"></i> Plano Auditor de Controle Externo do TCU </a>
    </div>
    <div class="account-dropdown__item">
      <a href="/painel/config/cadastro">
        <i class="fas fa-user"></i> Editar Cadastro
      </a>
    </div>
    <div class="account-dropdown__item">
      <a href="#!" id="linkRemoveProfilePicture">
        <i class="fas fa-camera"></i>Remover Foto
      </a>
    </div>
    <div class="account-dropdown__item">
      <a href="#!">
        <i class="fas fa-calendar-alt"></i> Plano válido até
        25/12/2025 </a>
    </div>
    <div class="account-dropdown__footer">
      <a href="/logout">
        <i class="fas fa-sign-out-alt"></i>Sair
      </a>
    </div>
  </div>
</div>